<a href="https://colab.research.google.com/github/MacasRenata/quarentenaDados/blob/master/analise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
print("Renata")

Renata

In [0]:
import pandas as pd

In [0]:
filme = pd.read_csv("https://raw.githubusercontent.com/MacasRenata/quarentenaDados/master/dados/movies.csv")

In [38]:
filme.columns = ["movieId", "title", "genres"]
filme.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]